@page
@inherits Eagle.Host.DeviceManager.Web.Pages.DeviceManagerPage
@model Eagle.Host.DeviceManager.Web.Pages.DeviceManager.IndexModel
@{
}
<h1>DeviceManager</h1>
<p>A sample page for the DeviceManager module.</p>